/**
 * Espaçamento interno 
 * Alinhamento do texto
 * Bordas aredondada
*/
.banner {
  padding: 236px 293px;
  text-align: center;
  border-radius: 5px;
}

@media (max-width: 425px) {
  .banner {
    padding: 40px 40px;
  }
}
