@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins:wght@500;600&family=Roboto:wdth,wght@75..100,100..900&display=swap");

main h2 {
  color: #f7f7f7;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-top: 32px;
}

main p {
  color: #dedede;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-top: 12px;
}
